<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index page</h1>
    
    <h2>This is index</h2>
    
    <a href = "/signup">회원가입</a>

    <a href = "/update">회원정보수정</a>

    <a href = "/delete">회원정보삭제</a>
   
    <!--유저가 입력한 데이터를 서버에 보내주기 위한 태그 <form>-->
    <form action="/second" method="GET">
        <!-- 
            action 속성에서는 주소, method 속성에서는 통신 방식(get/post)
            웹 데이터의 전송 시 데이터의 타입 json
            json 데이터 형태 : {key:value, key2:value2,....}
            input 태그에서 입력한 값은
             input에 지정된 name의 값을 키값으로
             입력한 값은 벨류의 값으로 서버에 보내준다.
             {ID : 입력한 값1, password : 입력한 값2}
        -->
        <input type="text" name="id">
        <input type="password" name="pass">
        <input type="submit">
    </form>


    <form action="/third" method="POST">
            <input type="text" name="user_name">
            <input type="text" name="user_phone">
            <input type="submit">
    </form>
    
 

</body>
</html>